In [26]:
import pandas as pd

df = pd.read_csv('score_result.txt',  sep='|')
df.pivot_table(index='epoch',columns='neuron',aggfunc=('count','mean'))

       rmse                                                         \
       count
neuron    1     2     3     4     5     6     7     8     9     10
epoch
100     10.0  10.0  10.0  10.0  10.0  10.0  10.0  10.0  10.0  10.0
200     10.0  10.0  10.0  10.0  10.0   5.0   NaN   NaN   NaN   NaN

                                                                    \
              mean
neuron          1           2           3           4           5
epoch
100     117.152249  104.500203   92.257625   96.498109   94.110540
200     114.871841  112.755407  112.376163  101.842743  130.920366



neuron          6          7           8           9           10
epoch
100      99.940683  94.022187  101.183739  105.162763  103.918745
200     154.912305        NaN         NaN         NaN         NaN